.todoBody{
   background-color:white;
   min-height:33em;
   max-height:33em;
   min-width:25em;
   max-width:30em;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius:8px;
   margin-bottom:20vh;
}
.todoHeader{
   color:black;
}
.todoContent{
   min-height:25em;
   max-height:25em;
   min-width:20em;
   max-width:25em;
   overflow-y:auto;
}
.todoContent .todoFiller{
   display: flex;
   min-height:100%;
   align-items: center;
   justify-content: center;
}
.todoContent .todoRow{
   display:grid;
   grid-template-columns: 1.1em 17em 2em 2em;
   grid-template-rows: 100%;
   grid-template-areas: "checkBox userInput edit trash";
   margin-top:0.5em;
   padding-bottom:0.5em;
   border-bottom: solid;
   border-width:0.25px;
   border-color:lightgrey;
}
.todoContent .checkBox{
   grid-area:checkBox;
   position:relative;
   left:0.2em;
}
.todoContent .todoText{
   grid-area:userInput;
}
.todoContent .struck{
   text-decoration: line-through;
   font-style: italic;
   color:darkgrey;
}
.todoContent .userInput{
   grid-area:userInput;
   position:relative;
   top:0.1em;
   left:0.2em;
   min-width:15em;
   max-width:17em;
   text-align: center;
   border-radius:33px;
   border:none;
   box-shadow: 0px 0px 3px grey;
}
.todoContent .todoBtns{
   border-radius: 20%;
   border:none;
   display:flex;
   justify-self:center;
   align-self: center;
   max-height:2em;
   max-width:2em;
   border-radius:45px;
}
.todoContent .hiddenBtn{
   display:none;
}
.todoContent .editBtn{
   grid-area:edit;
}
.todoContent .saveBtn{
   grid-area:edit;
}
.todoContent .trashBtn{
   grid-area:trash;
   background-color:salmon;
   color:white;
}
.todoContent .trashBtn:hover{
   background-color:rgb(255, 71, 71);
}
.todoContent .trashBtn:active{
   background-color:crimson;
}
.todoInput{
   position:relative;
   top:0.25em;
   left:0.5em;
   display:flex;
   justify-content:center;
   align-items:center;
}
.todoInput .addInput{
   min-width:20em;
   text-align:center;
   border-radius:33px;
   border:none;
   box-shadow: 0px 0px 3px grey;
}
.todoInput .addTodo{
   position:relative;
   left:-1.25em;
   max-height:1.1em;
   border-radius: 45px;
   border:none;
}
.todoInput .plus{
   position:relative;
   top:-0.4em;
   font-size: 1em;
}
@media(max-width: 800px){
   .todoBody{
      min-height:33em;
      max-height:33em;
      min-width:20em;
      max-width:30em;
   }
   .todoContent{
      min-height:25em;
      max-height:25em;
      min-width:20em;
      max-width:20em;
   }
   .todoContent .todoRow{
      display:grid;
      grid-template-columns: 1.1em 15em 2em 2em;
      grid-template-rows: 100%;
      grid-template-areas: "checkBox userInput edit trash";
      margin-bottom:5px;
   }
   .todoContent .userInput{
      min-width:10em;
      max-width:13em;
   }
   .todoInput{
      margin-top:1em;
   }
}