.Card{
   background-color: white;
   padding:5%;
   margin:10px;
   width:12vw;
   height: 35vh;
   color:black;
}
img{
   width:33%;
   height:33%;
   margin:3%;
}
@media(max-width:1199px){
   .Card{
    width:24vw;
    height:35vh;  
   }
}