.Grid{
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas:
   "title title"
   "img1 img2"
   "price1 price2"
   "img3 img4"
   "price3 price4";
}
.Card{
   background-color: white;
   padding:1%;
   width:12vw;
   min-width: 9em;
   max-width: 12em;
   height: 35vh;
   min-height:15em;
   max-height: 16em;
   color:black;
}
.Title{
   grid-area:title;
   width:100%;
}
img{
   min-width:4em;
   min-height:4em;
   margin:3%;
}
.cardPic{
   height:33%;
   max-height:5em;
   width:33%;
   max-width:5em;
   margin:3%;
}
.Pic1{grid-area: img1;}
.Pic2{grid-area: img2;}
.Pic3{grid-area: img3;}
.Pic4{grid-area: img4;}
.Price1{grid-area: price1;}
.Price2{grid-area: price2;}
.Price3{grid-area: price3;}
.Price4{grid-area: price4;}

.hideDetailCard{
   display: none;
}
.showDetailCard{
   display: block;
}
@media(max-width:1199px){
   .Card{
    width:24vw;
    height:35vh;  
   }
}