.contact {
   transition: all 0.3s ease-in-out;
   color:white;
   min-height:100vh;
   min-width:100vw;
   padding-top:10vh;
   margin-left:-5vw;
 }
.contact h2{
   /* margin-left:-5vw; */
   color:white;
}
.contact .info {
   padding: 30px;
   height:50em;
   width: 30vw;
   border-radius: 5px;
   background-color: #9EBBC7;
}
 
.contact .info i {
   font-size: 20px;
   color: #149ddd;
   float: left;
   width: 44px;
   height: 44px;
   background: #dff3fc;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
}

.contact .infoDetail {
padding-bottom: 1.5em;
}

.contact .info .infoDetail h5 {
   font-size: 15px;
   font-weight: 600;
   color: #050d18;
}

.contact .info p {
padding: 0 0 10px 60px;
margin-bottom: 20px;
font-size: 14px;
color: #173b6c;
}

@media(max-width:991.5px){
   .contact{
      padding:1em;
      width:90vw;
      height:90vh;
      margin:0vw;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .contact .info{
      min-height: 9em;
      max-height: 10em;
      display:flex;
      position:relative;
      top:-9.5em;
      flex-direction:column;
      align-content: center;
   }
}
.hiddenPhone {
   color:white;
   font-size: 0.01em !important;
}