.contact {
   transition: all 0.3s ease-in-out;
   color:white;
   min-height:100vh;
   max-height:none;
   min-width:100vw;
   padding-top:10vh;
 }
.contact h2{
   color:white;
}
.contact .info {
   padding: 1em;
   min-height:25em;
   max-height:30em;
   min-width:25em;
   max-width:30em;
   border-radius: 5px;
   background-color: #9EBBC7;
}
 
.contact .info .bxIcons {
   color: #149ddd;
   width: 2em;
   height: 2em;
   background: #dff3fc;
   border-radius: 50%;
   text-align:center;
   text-shadow:none;
}

.contact .infoDetail {
padding-bottom: 1.5em;
}

.contact .info .infoDetail h5 {
   font-size: 15px;
   font-weight: 600;
   color: white;
   text-shadow:0px 0px 0.15em black;
}

.contact .info p {
padding: 0 0 10px 60px;
margin-bottom: 20px;
font-size: 14px;
color: #173b6c;
}
.emailBox{
   min-height:25em;
   max-height:30em;
   min-width:25em;
   max-width:30em;
   background-color:#9EBBC7;
   border-radius:5px;
}
.amplify-label{
   display:none;
}
.amplify-input, .amplify-textarea{
   background-color:white;
   color:black;
   min-width: 20em;
   max-width: 30em;
}
.amplify-textarea{
   overflow-wrap:anywhere;
}
@media(max-width:991.5px){
   .contact{
      padding:1em;
      width:90vw;
      height:90vh;
      margin:0vw;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .contact .info{
      min-height: 9em;
      max-height: 10em;
      min-width:14em;
      max-width:15em;
      display:flex;
      flex-direction:column;
      align-content: center;
   }
   .emailBox{
      min-width:60vw;
      align-content:center;
   }
   .amplify-input, .amplify-textarea{
      min-width: 10em;
      max-width: 20em;
   }
}
.hiddenPhone {
   color:white;
   font-size: 0.01em !important;
}