#home {
   margin:0px;
   transition: all 0.3s ease-in-out;
}

/* @media(max-width:1199px){
   #home{margin-left:0px}
} */

#home .name {
   position: relative;
   min-width: 300px;
}

#home h1 {
   font-size: 64px;
   font-weight: 700;
   line-height: 56px;
   color: #fff;
}

#home p {
   color: #fff;
   margin-bottom: 50px;
   font-size: 26px;
}

#home p span {
   color: #fff;
   padding-bottom: 4px;
   letter-spacing: 1px;
}

@media (max-width: 768px) {
   #home h1 {
      font-size: 28px;
      line-height: 36px;
   }
}