.brand{
   position:relative;
   left:-5vw;
   font-family:'Brush Script MT',cursive;
   color:brown !important;
}
.brand:hover{
   cursor:default !important;
}
.sApp{
   margin-left:10vw;
   text-align:center;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   min-width:90vw;
   min-height:100vh;
}
.nav_head{
   margin-left:9vw;
   margin-top:0px;
   padding:0px;
   position:fixed;
   top:0px;
   width:90vw;
   display:flex;
   flex-flow: row;
   justify-content:space-around;
   box-shadow:0 0 10px silver;
}
.sApp i{
   font-size:3em;
   color:grey;
}
.sApp i:hover{
   color:black;
   cursor:pointer;
}
.nav_head h1{
   color:grey;
}
.nav_head h1:hover{
   color:black;
   cursor:pointer;
}
@media(max-width:1199px){
   .sApp{
      margin-left:0vw;
   }
   .nav_head{
      width:100vw;
      margin-left:0vw;
   }
   .brand{
      left:0px;
   }
}
