
.brand{
   position:relative;
   left:-3vw;
   font-family:'Brush Script MT',cursive;
   color:brown !important;
}
.brand:hover{
   cursor:default !important;
}
.sApp{
   text-align:center;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   min-width:10vw;
   min-height:100vh;
}
.nav_head{
   background-color: #131921;
   margin-top:0px;
   padding:0px;
   position:fixed;
   top:0px;
   width:100vw;
   display:flex;
   flex-flow: row;
   justify-content:space-around;
}
.sApp i{
   font-size:3em;
   color:white;
}
.sApp i:hover{
   cursor:pointer;
}
.nav_head h1{
   color:white;
   padding:1%;
   margin:1px;
}
.nav_head h1:hover{
   margin:0px;
   cursor:pointer;
   border-color:white;
   border:solid;
   border-width:1px;
}
@media(max-width:1199px){
   .sApp{
   }
   .nav_head{
      width:100vw;
   }
   .brand{
      left:25px;
   }
}
