.sApp{
   text-align:center;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   min-width:10vw;
   min-height:100vh;
}
.navHead{
   background-color: #131921;
   margin-top:0px;
   padding:0px;
   padding-left:3em;
   position:fixed;
   top:0px;
   width:100vw;
   display:flex;
   flex-flow: row;
   justify-content:space-evenly;
}
.sApp i{
   font-size:3em;
   color:white;
}
.sApp i:hover{
   cursor:pointer;
}
.navHead h4{
   color:white;
   padding:1%;
   margin:1px;
}
.navHead h4:hover{
   margin:0px;
   cursor:pointer;
}
.mainDisplay{
   background-color:#e3e6e6;
   width:100vw;
   height:100vh;
   display:flex;
   justify-content: space-evenly;
   align-items: center;
   align-content: space-around;
}
.shoppingCart{
   padding:1%;
}
.links:hover{
   border-color:white;
   border:solid;
   border-width:1px;
}
.brand{
   font-family:'Brush Script MT',cursive;
   color:orange !important;
}
.brand:hover{
   cursor:default !important;
   border:solid;
   border-color:#131921;
   border-width:1px;
}
@media(max-width:1199px){
   /* .sApp{
   } */
   .navHead{
      width:100vw;
   }
   /* .brand{
   } */
   .mainDisplay{
      flex-flow: column-wrap;
   }
}
