.SCItem{
   margin-top:10px;
   display:grid;
   grid-template-columns: 25% 31% 25% 19%;
   grid-template-rows: 1fr;
   grid-template-areas: 'img title price input';
}
.SCImg{
   grid-area:'img';
   min-height:5em;
   max-height:5em;
   min-width:5em;
   max-width:5em;
}
.SCTitle{
   grid-area:'title';
   min-width:8em;
}
.SCPrice{
   grid-area:'price';

}
.SCInput{
   grid-area:'input';
}
.SCMainCart{
   overflow-y: scroll;
}
.SCNum{
   border:none;
   min-width:2em;
   max-width:12em;
   min-height:1em;
   max-height:1em;
   background-color: inherit;
}
.addOne,.subtractOne{
   min-height:1em;
   max-height:1em;
   min-width:1em;
   max-width:1em;
   background-color: none;
   border-radius: 10%;
}
/* .subtractOne{
   grid-area:'subFrom';
   min-height:2em;
   max-height:2em;
   min-width:3em;
   max-width:4em;
} */