.menuWrap{
   display:flex;
   flex-direction: column;
   justify-content: center;
}
.menuNav{
   align-items: flex-start center;
   display:flex;
   flex-direction: column;
   padding:0px;
   margin:0px;
   margin-top:10vh;
   margin-bottom:10vh;
}
.menuNav hr{
   background-color: #149ddd;
   align-self: center;
   width:20vw;
   height:5px;
}
.menuNav .title{
   font-size:2em;
   font-weight:bolder;
}
.menuNav .tabs {
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.tabs button{
   padding:10px;
   margin-left:10px;
   margin-right:10px;
   padding-top:1px;
   padding-bottom:1px;
   color:#149ddd;
   text-align:center;
   text-decoration: none;
   background:none;
   border:none;
   border-radius: 10%;
   transition: 0.5s ease-in-out;
}
.tabs button:hover{
   background-color:#149ddd;
   color:white;
}
.menuList{
   width: 90vw;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap:wrap;
}
.menuItem{
   display: flex;
   flex-direction: row;
   width:40vw;
   height:25vh;
}
.menuItem img{
   width:auto;
   height:15vh;
   margin-right:1vw;
   border:solid #149ddd;
}
.foodText{
   display:flex;
   padding:0px;
   margin:0px;
   justify-content: space-between;
}
.foodDetail{
   display:flex;
   flex-direction: column;
   width:40vw;
}
.foodDetail hr{
   color:#149ddd;
}
.foodPrice{
   color:#149ddd;
}
@media (max-width: 1080px) {
   img{
      height:33vh;
   }
   .menuList{
      width:100vw;
      padding-left:22vw;
      display:flex;
      flex-direction: column;
      justify-content: center;
   }
   .menuItem{
      width:90vw;
      height:40vh;
   }
}